.card-link {
  display: flex;
  overflow: clip;
  margin-bottom: 0px;
  flex-direction: column;
  flex-wrap: nowrap;

  border: 0px solid var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-primary-border);
  border-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  opacity: 1;

  transform: translateY(0px);
  transition: all 160ms linear;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  text-decoration: none;
  list-style-type: none;
}

.card-link:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  opacity: 0.6;
  transform: translateY(0px);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-primary-text);
}

.card-link.on-secondary {
  justify-content: center;
  align-items: stretch;

  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  color: black;
}

.card-link.on-accent-primary {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-accent-primary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  color: black;
}

.card-link.on-accent-inverse {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-accent-inverse:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  color: black;
}

.card-link.on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-secondary);
}

.card-link.on-accent-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
}

.card-link.on-accent-tertiary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-tertiary);
}

.card-link.on-accent-tertiary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
}

.card-link.is-inverse {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-inverse-border);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-inverse-bg);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-inverse-text);
}

.flex-child_expand {
  flex: 1;
}

.card_body {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding-tablet);
  }
}

@media screen and (max-width: 767px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding-mobile-p);
  }
}

.icon {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-primary);

  vertical-align: middle;
}

.icon.is-small-1x1 {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
}

.icon.is-xsmall-1x1 {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
}

.is-xsmall-1x1 {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-primary);
}

.icon.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-inverse);
}

.icon.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.is-background {
  display: inline-flex;

  box-sizing: content-box;

  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-primary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.icon.on-accent-primary {
  color: inherit;
}

.icon.on-accent-secondary {
  color: inherit;
}

.icon.on-accent-tertiary {
  color: inherit;
}

.margin-bottom_xsmall {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
}

.heading_h4 {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-margin-bottom);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---font--heading-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-letter-spacing);
}

@media screen and (max-width: 991px) {
  .heading_h4 {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .heading_h4 {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .heading_h4 {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h4-heading--h4-size-mobile-p);
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.paragraph_small {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-letter-spacing);
}

@media screen and (max-width: 991px) {
  .paragraph_small {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .paragraph_small {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .paragraph_small {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size-mobile-p);
  }
}

.text-color_secondary {
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.text-color_inverse-secondary {
  color: color-mix(in srgb, currentColor 70%, transparent);
}

.paragraph_small.margin-bottom_none {
  min-height: 0px;
}

.margin_top-auto {
  margin-top: auto !important;
}

.padding-top_small {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
}

@media screen and (max-width: 767px) {
  .padding-top_small {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  }
}

.text-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  transition: all 200ms ease-in-out;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h5-heading--h5-weight);
  text-decoration: none;
}

.text-button:hover {
  grid-column-gap: 0.7em;
  grid-row-gap: 0.7em;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---core-accent-color--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-75x);
}

.text-button.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: 0.7;
}

.text-button.is-secondary {
  transition-property: opacity, color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease-in-out, ease-in-out;
  color: inherit;
}

.text-button.is-secondary:hover {
  opacity: 0.6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: 0.6;
  color: inherit;
}

.text-button.on-accent-tertiary {
  color: inherit;
}

.text-button.on-accent-tertiary:hover {
  color: inherit;
}

.text-button.on-accent-secondary {
  color: inherit;
}

.text-button.on-accent-secondary:hover {
  color: inherit;
}

.button_icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

#w-node-c1b3662b-1892-43d9-6f9b-b0459e0a2592-9e0a2592 {
}
#w-node-a69e8bd2-725b-02bf-e223-d24b8d6c9513-f6446cec.w-node-c1b3662b-1892-43d9-6f9b-b0459e0a2597-9e0a2592 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}