.nav {
  position: relative;
  z-index: 99;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---base-typography--base-font-size);
}

@media screen and (max-width: 991px) {
  .nav {
    height: auto;
  }
}

.nav.is-inverse {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-inverse);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
}

.nav.is-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-primary);
}

.nav.is-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-secondary);
}

.nav.is-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-tertiary);
}

.nav.is-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---core-accent-color--accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-secondary);
}

.nav_container {
  display: flex;
  width: 100%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---container--container-width);
  margin-right: auto;
  margin-left: auto;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-75x) var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---container--container-padding-horizontal);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);

  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.nav_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
}

.nav_logo {
  display: flex;
  height: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  text-decoration: none;
  color: inherit;
}

.nav_logo:hover {
  color: color-mix(in srgb, currentColor 80%, transparent);
}

.nav_logo-icon {
  height: 100%;
  flex: 0 0 auto;
  aspect-ratio: 1/1;
}

.paragraph_large {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-letter-spacing);
}

@media screen and (max-width: 991px) {
  .paragraph_large {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .paragraph_large {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .paragraph_large {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-size-mobile-p);
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.text-color_secondary {
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
}

.nav_menu {
  position: static;

  display: flex;
  height: 100%;
  margin-bottom: 0rem;
  padding-left: 0em;
  justify-content: center;
  align-items: center;
  align-self: center;

  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .nav_menu {
    position: absolute;
    top: 100%;

    height: auto;
    max-height: calc(100dvh - 10rem);
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
    padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
    padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);

    border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---radius--md-radius);
    border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---radius--md-radius);
    border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---radius--md-radius);
    border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---radius--md-radius);

    background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-primary);

    overflow-x: auto;
    overflow-y: auto;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
}

.nav_menu-list {
  display: flex;
  margin-bottom: 0rem;
  padding-left: 0em;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .nav_menu-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.nav_menu-list-item {
  display: flex;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .nav_menu-list-item {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.nav_dropdown-menu {
  position: static;
}

@media screen and (max-width: 991px) {
  .nav_dropdown-menu {
    width: 100%;
    height: auto;
  }
}

.nav_link {
  display: flex;
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);

  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  color: color-mix(in srgb, currentColor 75%, transparent);
}

.nav_link:hover {
  background-color: color-mix(in srgb, currentColor 05%, transparent);
  color: inherit;
}

.nav_link:global(.w--current) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---button--button-secondary-bg-hover);
}

.nav_link:global(.w--open) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---button--button-secondary-bg-hover);
}

@media screen and (max-width: 991px) {
  .nav_link {
    justify-content: space-between;
    align-items: center;
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-lg--lg-text-size);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:hover {
    color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-primary);
    background-color: color-mix(in srgb, currentColor 0%, transparent);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:global(.w--current):hover {
    background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---button--button-secondary-bg-hover);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:global(.w--open) {
    background-color: hsla(0, 0.00%, 0.00%, 0.00);
  }
}

.nav_link.on-accent-primary {
  background-color: inherit;
}

.nav_link.on-accent-primary:hover {
  background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.nav_link.on-accent-primary:global(.w--current) {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.nav_link.on-accent-secondary:hover {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.nav_link.on-accent-secondary:global(.w--current) {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.nav_link.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-secondary);
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.nav_link.on-inverse:hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.nav_link.on-inverse:global(.w--current) {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.nav-caret {
  position: relative;
  margin: 0px;
}

.mega-nav_dropdown-list:global(.w--open) {
  left: 0px;
  right: 0px;
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1-25x);
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .mega-nav_dropdown-list:global(.w--open) {
    position: relative;
    top: 0%;
    height: auto;
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  }
}

.mega-nav_dropdown-list-wrapper {
  width: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);

  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.1);
}

.mega-nav_dropdown-list-wrapper:global(.w--open) {
  position: absolute;
  left: 0%;
  top: 100%;
  right: 0%;
  bottom: auto;

  display: flex;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  justify-content: center;
  align-self: auto;
  order: 0;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);

  box-shadow: 0 8px 8px -4px rgba(0,0,0,0.1);
}

@media screen and (max-width: 991px) {
  .mega-nav_dropdown-list-wrapper {
    z-index: 3;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    box-shadow: none;

    background-color: color-mix(in srgb,currentColor 5%,transparent);
  }
}

@media screen and (max-width: 991px) {
  .mega-nav_dropdown-list-wrapper:global(.w--open) {
    position: relative;
    left: 0px;
    top: auto;
    right: 0px;

    height: auto;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.grid_3-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid_3-col {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid_3-col.tablet-1-col {
    grid-template-columns: 1fr;
  }
}

.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--md-gap);
}

.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
}

.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xs-gap);
}

.eyebrow {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1-25x);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---eyebrow--eyebrow-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---eyebrow--eyebrow-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---eyebrow--eyebrow-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---base-typography--base-font-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---eyebrow--eyebrow-letter-spacing);
  text-transform: uppercase;
  color: color-mix(in srgb, currentColor 60%, transparent);
}

@media screen and (max-width: 991px) {
  .eyebrow {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---eyebrow--eyebrow-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .eyebrow {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---eyebrow--eyebrow-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .eyebrow {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---eyebrow--eyebrow-size-mobile-p);
  }
}

.mega-nav_list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.margin-top_small {
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
}

@media screen and (max-width: 767px) {
  .margin-top_small {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  }
}

.mega-nav_link-item {
  display: flex;
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  text-decoration: none;

  transition: color 200ms ease;
}

.icon_medium {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1-5x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1-5x);
  justify-content: center;
  align-items: center;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---core-accent-color--accent-primary);

  flex: 0 0 auto;
}

.paragraph_small {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-letter-spacing);
}

@media screen and (max-width: 991px) {
  .paragraph_small {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .paragraph_small {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .paragraph_small {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---text-sm--sm-text-size-mobile-p);
  }
}

.text-color_inverse-secondary {
  color: color-mix(in srgb, currentColor 70%, transparent);
}

.paragraph_small.margin-bottom_none {
  min-height: 0px;
}

.flex_horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_horizontal.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
}

.flex_horizontal.flex_vertical {
  flex-direction: column;
}

.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--lg-gap);
}

.flex_horizontal.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xs-gap);
}

.flex_horizontal.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
}

.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
}

.flex_horizontal.is-wrap {
  flex-wrap: wrap;
}

.flex_horizontal.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--lg-gap);
}

@media screen and (max-width: 767px) {
  .flex_horizontal.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-y-center {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-x-center {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.flex_vertical_mobile-l {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex_horizontal.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--md-gap);
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-l-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex_horizontal.is-align-center {
  align-items: center;
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.margin-bottom_xsmall {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
}

.card-link {
  display: flex;
  overflow: clip;
  margin-bottom: 0px;
  flex-direction: column;
  flex-wrap: nowrap;

  border: 0px solid var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-primary-border);
  border-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  opacity: 1;

  transform: translateY(0px);
  transition: all 160ms linear;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  text-decoration: none;
  list-style-type: none;
}

.card-link:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  opacity: 0.6;
  transform: translateY(0px);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-primary-text);
}

.card-link.on-secondary {
  justify-content: center;
  align-items: stretch;

  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
  color: black;
}

.card-link.on-accent-primary {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-accent-primary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  color: black;
}

.card-link.on-accent-inverse {
  border-color: hsla(0, 0.00%, 0.00%, 0.90);

  background-color: transparent;
  background-image: none;

  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  -webkit-text-stroke-color: black;
}

.card-link.on-accent-inverse:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-primary);
  color: black;
}

.card-link.on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-secondary);
}

.card-link.on-accent-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
}

.card-link.on-accent-tertiary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-on-accent-tertiary);
}

.card-link.on-accent-tertiary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-primary);
}

.card-link.is-inverse {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-inverse-border);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-inverse-bg);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---card--card-inverse-text);
}

.flex-child_expand {
  flex: 1;
}

.card_body {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding-tablet);
  }
}

@media screen and (max-width: 767px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-padding-mobile-p);
  }
}

.heading_h3 {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-margin-bottom);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---font--heading-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-letter-spacing);
}

@media screen and (max-width: 991px) {
  .heading_h3 {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .heading_h3 {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .heading_h3 {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h3-heading--h3-size-mobile-p);
  }
}

.margin_top-auto {
  margin-top: auto !important;
}

.padding-top_small {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
}

@media screen and (max-width: 767px) {
  .padding-top_small {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  }
}

.button-group {
  display: flex;
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
}

@media screen and (max-width: 479px) {
  .button-group {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.button-group.is-align-center {
  justify-content: center;
}

.button-group.is-align-right {
  justify-content: flex-end;
}

.button-group.is-vertical-stretch {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.margin-top_none {
  margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .button-group.margin_none {
    justify-content: flex-start;
    align-items: stretch;
  }
}

.margin_none {
  margin: 0px;
}

@media screen and (max-width: 991px) {
  .margin_none {
    margin: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin_none {
    margin: 0px;
  }
}

.text-align_center {
  text-align: center;
}

.text-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  transition: all 200ms ease-in-out;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h5-heading--h5-weight);
  text-decoration: none;
}

.text-button:hover {
  grid-column-gap: 0.7em;
  grid-row-gap: 0.7em;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---core-accent-color--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-75x);
}

.text-button.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: 0.7;
}

.text-button.is-secondary {
  transition-property: opacity, color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease-in-out, ease-in-out;
  color: inherit;
}

.text-button.is-secondary:hover {
  opacity: 0.6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: 0.6;
  color: inherit;
}

.text-button.on-accent-tertiary {
  color: inherit;
}

.text-button.on-accent-tertiary:hover {
  color: inherit;
}

.text-button.on-accent-secondary {
  color: inherit;
}

.text-button.on-accent-secondary:hover {
  color: inherit;
}

.button_icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.nav_dropdown-list:global(.w--open) {
  display: flex;
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1-25x);
  background-color: transparent;
}

.nav-menu_dropdown-list-wrapper {
  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---card--card-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---background-color--bg-primary);

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.nav-menu_dropdown-list-wrapper:global(.w--open) {
  top: 100%;

  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);

  box-shadow: 0 6px 8px -4px rgba(0,0,0,0.1);
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.gap-xsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xs-gap);
}

.flex_vertical.gap-xxsmall {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
}

.flex_vertical.gap-large {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--lg-gap);
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  }
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex_vertical.gap-medium {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--md-gap);
}

.flex_vertical.gap-small {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--sm-gap);
}

.flex_vertical.is-y-center {
  justify-content: center;
  align-items: stretch;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xl-gap);
}

.gap-xlarge {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xl-gap);
}

.gap-xxlarge {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxl-gap);
}

.nav_dropdown-link {
  display: flex;
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---gap--xxs-gap);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---nav-link--nav-link-primary);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_typography---h5-heading--h5-weight);
  text-decoration: none;

  transition: color 200ms ease;
}

.nav_dropdown-link:global(.w--current) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---button--button-secondary-bg-hover);
}

.nav_dropdown-link:global(.w--open) {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---button--button-secondary-bg-hover);
}

.button_label {
  white-space: pre;
}

.nav_mobile-menu-button {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  color: inherit;
}

.nav_mobile-menu-button:hover {
  color: inherit;
}

.nav_mobile-menu-button:global(.w--open) {
  z-index: 2;
  background-color: transparent;
}

.nav_mobile-menu-button:global(.w--open):hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-inverse-hover);
}

@media screen and (max-width: 991px) {
  .nav_mobile-menu-button {
    align-self: center;
    background-color: transparent;
    color: inherit;
  }
}

@media screen and (max-width: 991px) {
  .nav_mobile-menu-button:global(.w--open) {
    background-color: transparent;
    color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---core-accent-color--accent-primary);
  }
}

@media screen and (max-width: 991px) {
  .nav_mobile-menu-button:global(.w--open):hover {
    color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-link--link-primary);
  }
}

@media screen and (max-width: 479px) {
  .nav_mobile-menu-button:global(.w--open) {
    color: inherit;
  }
}

.nav_mobile-menu-button.fixed-open-nav:global(.w--open) {
  position: fixed;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-inverse-secondary);
}

.icon {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--2x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-primary);

  vertical-align: middle;
}

.icon.is-small-1x1 {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
}

.icon.is-xsmall-1x1 {
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
}

.is-xsmall-1x1 {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--1x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-primary);
}

.icon.on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-inverse);
}

.icon.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.is-background {
  display: inline-flex;

  box-sizing: content-box;

  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---spacing--0-5x);
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380_sizes---button--button-radius);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1752848868380---text-color--text-accent-on-primary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.icon.on-accent-primary {
  color: inherit;
}

.icon.on-accent-secondary {
  color: inherit;
}

.icon.on-accent-tertiary {
  color: inherit;
}

#w-node-_5380b69f-bca3-00d2-697a-74a946c58a65-46c58a63 {
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a66-46c58a63 {
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a6c-46c58a63 {
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a6d-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2e6d-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58a78-46c58a63 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a7e-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2e78-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58a83-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a89-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2e83-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58a8e-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a94-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2e8e-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58a99-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58a9f-46c58a63 {
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58aa3-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2e9d-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58aa8-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58aae-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2ea8-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58ab3-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58ab9-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2eb3-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58abe-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58ac4-46c58a63 {
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58ac8-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2ec2-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58acd-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58ad3-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2ecd-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58ad8-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_5380b69f-bca3-00d2-697a-74a946c58ade-46c58a63 {
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2ed8-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58ae3-46c58a63 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2ede-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58ae9-46c58a63 {
  align-self: stretch;
}
@media screen and (max-width: 991px) {
  #w-node-_5380b69f-bca3-00d2-697a-74a946c58a6c-46c58a63 {
  }
  #w-node-_016f5a0a-5b63-edde-82c5-e2b2ad6d2ede-ad6d2e56.w-node-_5380b69f-bca3-00d2-697a-74a946c58ae9-46c58a63 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}